External/Archive/FlashDebugger/FlexSDK/SwfUtils/flash/swf/tools/NotUsed/swfx.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--

    ADOBE SYSTEMS INCORPORATED
    Copyright 2003-2006 Adobe Systems Incorporated
    All Rights Reserved.

    NOTICE: Adobe permits you to use, modify, and distribute this file
    in accordance with the terms of the license agreement accompanying it.

-->

<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<schema targetNamespace="http://macromedia/2003/swfx" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:swf="http://macromedia/2003/swfx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<element name="DebugID">
		<complexType>
			<attribute name="uuid" type="string" use="required"/>
		</complexType>
	</element>
	<element name="DefineBits">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="encoding" type="string"/>
					<attribute name="src" type="string"/>
					<attribute name="id" type="string" use="required"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="DefineBitsJPEG2">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="encoding" type="string"/>
					<attribute name="src" type="string"/>
					<attribute name="id" type="string" use="required"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="DefineBitsJPEG3">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="encoding" type="string"/>
					<attribute name="src" type="string"/>
					<attribute name="alphasrc" type="string"/>
					<attribute name="id" type="string" use="required"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="DefineBitsLossless">
		<complexType>
			<attribute name="id" type="string" use="required"/>
			<attribute name="encoding" type="string" use="required"/>
		</complexType>
	</element>
	<element name="DefineBitsLossless2">
		<complexType>
			<attribute name="id" type="string" use="required"/>
			<attribute name="encoding" type="string" use="required"/>
		</complexType>
	</element>
	<element name="DefineButton2">
		<complexType>
			<sequence>
				<element name="buttonRecord"  maxOccurs="unbounded">
					<complexType>
						<attribute name="states" type="string" use="required"/>
						<attribute name="idref" type="string" use="required"/>
						<attribute name="depth" type="string" use="required"/>
						<attribute name="matrix" type="string" use="required"/>
						<attribute name="cxforma" type="string"/>
					</complexType>
				</element>
				<element name="buttonCondAction" type="string"  minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="id" type="string" use="required"/>
			<attribute name="trackAsMenu" default="false" type="boolean"/>
		</complexType>
	</element>
    <element name="DefineText">
        <complexType>
            <attribute name="id" type="string" use="required" />
        </complexType>
    </element>
    <element name="DefineText2">
        <complexType>
            <attribute name="id" type="string" use="required" />
        </complexType>
    </element>
	<element name="DefineEditText">
		<complexType>
            <attribute name="id" type="string" use="required"/>
            <attribute name="fontId" type="number" use="optional"/>
            <attribute name="fontName" type="string" use="optional"/>
            <attribute name="fontHeight" type="number" use="optional"/>
            <attribute name="bounds" type="string" use="required"/>
            <attribute name="color" type="string" use="required"/>
            <attribute name="html" type="boolean" use="required"/>
            <attribute name="autoSize" type="boolean" use="required"/>
            <attribute name="border" type="boolean" use="required"/>
            <attribute name="multiline" type="boolean" use="required"/>
            <attribute name="noSelect" type="boolean" use="required"/>
            <attribute name="password" type="boolean" use="required"/>
            <attribute name="readOnly" type="boolean" use="required"/>
            <attribute name="useOutlines" type="boolean" use="required"/>
            <attribute name="varName" type="string" use="required"/>
            <attribute name="wordWrap" type="string" use="required"/>
            <attribute name="align" type="number" use="required"/>
            <attribute name="indent" type="number" use="required"/>
            <attribute name="leading" type="number" use="required"/>
            <attribute name="leftMargin" type="number" use="required"/>
            <attribute name="rightMargin" type="number" use="required"/>
		</complexType>
	</element>
	<element name="DefineFont">
		<complexType>
			<attribute name="id" type="string" use="required"/>
		</complexType>
	</element>
    <element name="DefineFontInfo2">
        <complexType>
            <attribute name="fontId" type="string" use="required"/>
        </complexType>
    </element>
    <element name='glyph' minOccurs="0" maxOccurs="unbounded">
        <complexType>
            <attribute name='codepoint' type='string' required='true'/>
            <attribute name='advance' type='number' required='true'/>
            <attribute name='bounds' type='number' required='true'/>
        </complexType>
    </element>
	<element name="DefineFont2">
		<complexType>
            <sequence>
                <element ref='swf:glyph' minOccurs="0" maxOccurs="unbounded" />
            </sequence>
			<attribute name="id" type="string" use="required"/>
			<attribute name="font" type="string" use="required"/>
			<attribute name="numGlyphs" type="number" use="required"/>
			<attribute name="italic" type="boolean" use="required"/>
			<attribute name="bold" type="boolean" use="required"/>
			<attribute name="ansi" type="boolean" use="required"/>
			<attribute name="shiftJIS" type="boolean" use="required"/>
			<attribute name="langCode" type="number" use="required"/>
			<attribute name="hasLayout" type="boolean" use="required"/>
			<attribute name="ascent" type="number" use="required"/>
			<attribute name="descent" type="number" use="required"/>
			<attribute name="leading" type="number" use="required"/>
			<attribute name="kerningCount" type="number" use="required"/>
			<attribute name="codepointCount" type="number" use="required"/>
			<attribute name="advanceCount" type="number" />
			<attribute name="boundsCount" type="number" />
		</complexType>
	</element>
	<element name="DefineShape">
		<complexType>
			<sequence>
				<element ref="swf:fillstyle" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="swf:linestyle" minOccurs="0" maxOccurs="unbounded"/>
				<choice minOccurs="0" maxOccurs="unbounded">
					<element ref="swf:styleChange"/>
					<element ref="swf:line"/>
					<element ref="swf:curve"/>
				</choice>
			</sequence>
			<attribute name="id" type="string" use="required"/>
			<attribute name="bounds" type="string" use="required"/>
		</complexType>
	</element>
    <element name="DefineMorphShape">
        <complexType>
			<attribute name="id" type="string" use="required"/>
		</complexType>
    </element>
    <element name="DefineFontInfo">
        <complexType>
            <attribute name='idref' type='string' use='required'/>
        </complexType>
    </element>
	<element name="DefineShape2">
		<complexType>
			<sequence>
				<element ref="swf:fillstyle" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="swf:linestyle" minOccurs="0" maxOccurs="unbounded"/>
				<choice minOccurs="0" maxOccurs="unbounded">
					<element ref="swf:styleChange"/>
					<element ref="swf:line"/>
					<element ref="swf:curve"/>
				</choice>
			</sequence>
			<attribute name="id" type="string" use="required"/>
			<attribute name="bounds" type="string" use="required"/>
		</complexType>
	</element>
	<element name="DefineShape3">
		<complexType>
			<sequence>
				<element ref="swf:fillstyle" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="swf:linestyle" minOccurs="0" maxOccurs="unbounded"/>
				<choice minOccurs="0" maxOccurs="unbounded">
					<element ref="swf:styleChange"/>
					<element ref="swf:line"/>
					<element ref="swf:curve"/>
				</choice>
			</sequence>
			<attribute name="id" type="string" use="required"/>
			<attribute name="bounds" type="string" use="required"/>
		</complexType>
	</element>
	<element name="DefineSprite">
		<complexType>
			<choice minOccurs='0' maxOccurs="unbounded">
				<element ref="swf:DoAction"/>
				<element ref="swf:FrameLabel"/>
				<element ref="swf:PlaceObject2"/>
				<element ref="swf:RemoveObject2"/>
				<element ref="swf:SoundStreamHead2"/>
				<element ref="swf:ShowFrame"/>
			</choice>
            <attribute name="id" type="string" use="required"/>
            <attribute name="framecount" type="integer"/>
		</complexType>
	</element>
    <element name="DoAction" type="string"/>
	<element name="DoInitAction">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="idref" type="string" use="required"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
    <element name="Package">
        <complexType>
            <simpleContent>
                <extension base="string">
                    <attribute name="id" type="string" use="required"/>
                </extension>
            </simpleContent>
        </complexType>
    </element>
    <element name="ProductInfo">
        <complexType>
            <attribute name="product" type="string" use="required"/>
            <attribute name="edition" type="string" use="required"/>
            <attribute name="version" type="decimal" use="required"/>
            <attribute name="build" type="decimal" use="required"/>
            <attribute name="compileDate" type="string" use="required"/>
        </complexType>
    </element>
    <element name="FileAttributes">
        <complexType>
            <attribute name="hasMetadata" type="boolean" default="false" />
            <attribute name="actionScript3" type="boolean" default="false" />
            <attribute name="suppressCrossDomainCaching" type="boolean" default="false" />
            <attribute name="swfRelativeUrls" type="boolean" default="false" />
            <attribute name="useNetwork" type="boolean" default="false" />
        </complexType>
    </element>
	<element name="EnableDebugger2">
		<complexType>
			<attribute name="password" type="string" use="required"/>
		</complexType>
	</element>
	<element name="ExportAssets">
		<complexType>
			<sequence maxOccurs="unbounded">
				<element name="Export">
					<complexType>
						<attribute name="idref" type="string" use="required"/>
						<attribute name="name" type="string" use="required"/>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="FrameLabel">
		<complexType>
			<attribute name="anchor" default="false" type="boolean"/>
			<attribute name="label" type="string" use="required"/>
		</complexType>
	</element>
	<element name="ImportAssets">
		<complexType>
			<sequence maxOccurs="unbounded">
				<element name="Import">
					<complexType>
						<attribute name="id" type="string" use="required"/>
						<attribute name="name" type="string" use="required"/>
					</complexType>
				</element>
			</sequence>
			<attribute name="url" type="string" use="required"/>
		</complexType>
	</element>
	<element name="JPEGTables">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="encoding" type="string" use="required"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="PlaceObject2">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="depth" type="string" use="required"/>
					<attribute name="idref" type="string"/>
					<attribute name="matrix" type="string"/>
					<attribute name="cxform" type="string"/>
					<attribute name="ratio" type="string"/>
					<attribute name="name" type="string"/>
					<attribute name="clipDepth" type="string"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="Protect">
		<complexType>
			<attribute name="password" type="string"/>
		</complexType>
	</element>
	<element name="RemoveObject2">
		<complexType>
			<attribute name="depth" type="string" use="required"/>
		</complexType>
	</element>
	<element name="ScriptLimits">
		<complexType>
			<attribute name="scriptRecursionLimit" type="integer" use="required"/>
			<attribute name="scriptTimeLimit" type="integer" use="required"/>
		</complexType>
	</element>
    <element name="SetTabIndex">
        <complexType>
            <attribute name="depth" type="integer" use="required" />
            <attribute name="index" type="integer" use="required" />
        </complexType>
    </element>
	<element name="SetBackgroundColor">
		<complexType>
			<attribute name="color" type="string" use="required"/>
		</complexType>
	</element>
	<element name="ShowFrame"/>
    <element name="SoundStreamHead2">
        <complexType>
            <attribute name="playbackRate" type="number" />
        </complexType>
    </element>
	<element name="curve">
		<complexType>
			<attribute name="cdx" type="string" use="required"/>
			<attribute name="cdy" type="string" use="required"/>
			<attribute name="dx" type="string" use="required"/>
			<attribute name="dy" type="string" use="required"/>
		</complexType>
	</element>
	<element name="fillstyle">
		<complexType>
			<attribute name="color" type="string"/>
			<attribute name="gradient" type="string"/>
			<attribute name="idref" type="string"/>
            <attribute name="matrix" type="string"/>
            <attribute name="type" type="number"/>
		</complexType>
	</element>
	<element name="line">
		<complexType>
			<attribute name="dx" type="string" use="required"/>
			<attribute name="dy" type="string" use="required"/>
		</complexType>
	</element>
	<element name="linestyle">
		<complexType>
			<attribute name="color" type="string" use="required"/>
			<attribute name="width" type="string" use="required"/>
		</complexType>
	</element>
	<element name="styleChange">
		<complexType>
			<sequence minOccurs="0">
				<element ref="swf:fillstyle" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="swf:linestyle" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="dx" type="string"/>
			<attribute name="dy" type="string"/>
			<attribute name="fillStyle0" type="string"/>
			<attribute name="fillStyle1" type="string"/>
			<attribute name="lineStyle" type="string"/>
		</complexType>
	</element>
	<element name="swf">
		<complexType>
			<choice maxOccurs="unbounded">
                <element ref="swf:File"/>
                <element ref="swf:ProductInfo"/>
                <element ref="swf:DefineShape"/>
                <element ref="swf:DefineMorphShape"/>
                <element ref="swf:DefineFontInfo"/>
				<element ref="swf:DefineShape2"/>
				<element ref="swf:DefineShape3"/>
				<element ref="swf:DefineSprite"/>
				<element ref="swf:DefineFont"/>
				<element ref="swf:DefineFont2"/>
                <element ref="swf:DefineFontInfo2"/>
                <element ref="swf:DefineText"/>
                <element ref="swf:DefineText2"/>
				<element ref="swf:DefineEditText"/>
				<element ref="swf:DefineButton2"/>
				<element ref="swf:DefineBits"/>
				<element ref="swf:DefineBitsJPEG2"/>
				<element ref="swf:DefineBitsJPEG3"/>
				<element ref="swf:DefineBitsLossless"/>
				<element ref="swf:DefineBitsLossless2"/>
				<element ref="swf:SoundStreamHead2"/>
				<element ref="swf:DefineSound"/>
				<element ref="swf:DoAction"/>
                <element ref="swf:DoInitAction"/>
                <element ref="swf:Package"/>
				<element ref="swf:EnableDebugger2"/>
				<element ref="swf:DebugID"/>
				<element ref="swf:Protect"/>
				<element ref="swf:ExportAssets"/>
				<element ref="swf:ImportAssets"/>
				<element ref="swf:FrameLabel"/>
				<element ref="swf:JPEGTables"/>
				<element ref="swf:PlaceObject2"/>
				<element ref="swf:RemoveObject2"/>
				<element ref="swf:ScriptLimits"/>
				<element ref="swf:SetBackgroundColor"/>
				<element ref="swf:ShowFrame"/>
			</choice>
			<attribute name="version" default="7">
				<simpleType>
					<restriction base="positiveInteger">
						<enumeration value="4"/>
						<enumeration value="5"/>
						<enumeration value="6"/>
						<enumeration value="7"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="framerate" type="string" default="12"/>
			<attribute name="size" type="string" default="10000x7500"/>
			<attribute name="compressed" type="boolean" default="true"/>
		</complexType>
	</element>
</schema>
